@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  a[href],
  button,
  input[type="checkbox"],
  [role="button"],
  summary {
    cursor: pointer;
  }

  button:disabled,
  input[type="checkbox"]:disabled,
  [role="button"][aria-disabled="true"] {
    cursor: not-allowed;
  }
}
